article {
    margin-top: 2rem;
}

article header .posttitle {
    margin-top: 0;
    margin-bottom: 0;
    text-transform: none;
    font-size: 1.5em;
    line-height: 1.25;
}

article header .meta {
    margin-top: 0;
    margin-bottom: 1rem;
}

article header .meta * {
    color: #2c3e50;
    font-size: 0.85rem;
}

article header .author {
    text-transform: uppercase;
    letter-spacing: 0.01em;
    font-weight: 700;
}

article header .postdate {
    display: inline;
}

.article-tag {
    display: inline;
}

.article-tag:before {
    content: "|";
}

.blog-post-comments {
    margin-top: 4rem;
}